# ==========================================
# Maven / Java
# ==========================================
target/
*.class
*.jar
*.war

# ==========================================
# IntelliJ IDEA
# ==========================================
.idea/
*.iml
out/

# ==========================================
# VS Code
# ==========================================
.vscode/

# ==========================================
# Systemowe
# ==========================================
.DS_Store
Thumbs.db

# ==========================================
# Logi
# ==========================================
*.log

# ==========================================
# Docker Secrets
# ==========================================
dbpassword.txt

# ==========================================
# Lokalne zmienne środowiskowe
# ==========================================
.env

# ==========================================
# Maven Wrapper
# (opcjonalnie - zwykle zostawiamy)
# ==========================================
# .mvn/
# mvnw
# mvnw.cmd

notes.txt
.metals
